/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-framework-dl-framework-dl-block {
	background: none;

	label {
		color: black;
		font-size: 1rem;
	}

	//year
	.components-flex > .components-flex {
		width: calc( 100% / 3 );
	}

	//language
	.components-flex{
		& > .components-base-control {
			width: calc( 100% / 3 );
			padding-top: 8px;
		}
		.components-select-control__input {
			font-size: 11px !important;
		}
	}
}
